
*{
    background-color: #1B1B1B;
}

.logo{
    color: #E6533C;
    font-size: 25px;
    font-weight: bold;
}

.display-flex{
    display: flex;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 0 120px 0 120px;
    border: 1px solid red;
    
}

.nav-item{
    list-style: none;
    margin-right: 35px;
    font-size: 17px;
    padding: 5px;
    

}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

#home-color{
    background-color: #E6533C;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
}


.banner{
    border: 1px solid red;
    margin-top: 10px;
}
.title-font{
    width: 350px;
    border: 1px solid yellow;
    font-size: 55px;
    color: #FFFF;
}





