
/* Font Family Miama */

@font-face {
    font-family: 'Inter';
    src: url();
}

@font-face {
    font-family: 'Miama';
    font-style: italic;
    font-weight: 400;
    src: local('Miama'), 
    url('https://fonts.cdnfonts.com/s/302/Miama-Regular.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    /* max-width: 14300px; */
}


#bg-color{
    background-image: linear-gradient(to right, #111212, #181c1d, #1f262a, #293037, #353944, #353944, #353944, #353944, #293037, #1f262a, #181c1d, #111212);
}

.container{
    height: 570px;
}

.logo{
    color: #E6533C;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
    /* border: 1px solid red; */
}

.display-flex{
    display: flex;
    /* justify-content: space-between; */
}
.display-flex2{
    display: flex;
    justify-content: space-between;
}

.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 0 120px 0 120px;
    /* border: 1px solid red; */
}

.nav-item{
    list-style: none;
    margin-right: 65px;
    font-size: 17px;
    padding: 5px;
    /* border: 1px solid red; */
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: white;

}

.nav-links{
    border: 0.5px solid grey;
    padding: 7px 5px 7px 5px;
    border-radius: 25px;
    margin-top: 20px;
}

#home-color{
    background-color: #E6533C;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
}


.banner{
    /* border: 1px solid red; */
    margin-top: 70px;
    width: 500px;
    margin-left: 160px;
    height: 390px;
}

.title-font{
    width: 450px;
    /* border: 1px solid yellow; */
    font-size: 60px;
    color: #FFFF;
}

.font{
    font-family: 'Miama';
    font-size: 3.5rem;
    font-weight: 800;
}

.title-description{
    color: #808080;
    width: 400px;
    margin-top: 15px;
}

.btn1{
    height: 30px;
    width: 150px;
    padding: 16px, 40px, 16px, 40px;
    background-color: #E6533C;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}
.btn2{
    height: 30px;
    width: 150px;
    padding: 16px, 40px, 16px, 40px;
    background-color: #101010;
    color: white;
    border-radius: 20px;
    border: none;
}

.image1{
    /* margin-left: 45%; */
    position: absolute;
    right: 200px;
    height: 500px;
    /* border: 1px solid red; */
    
}

.btn3{
    height: 70px;
    width: 150px;
    padding: 10px;
    position: absolute;
    left: 80%;
    bottom: 65%;
    border-radius: 12px;
    border: none;
    background-color: #393939;
    /* border: 1px solid red; */
}

.font-style1{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding-right: 47px;
}

.btn-description{
    color: white;
    
}

.btn4{
    height: 70px;
    width: 175px;
    position: absolute;
    bottom: 28%;
    right: 28%;
    border-radius: 12px;
    border: none;
    opacity: 0.8;
    background-color: #393939;
    /* border: 1px solid red; */
}

.font-style2{
    text-align: left;
    padding-right: 12px;
    color: #FAFAF9;
    font-size: 30px;
}

.btn4-description{
    color: white;
}
/* .symble-color{
    background-color: #E6533C;
    border-radius: 50%;
    height: 20px;
    width: 20px;
} */

.circle-symbol{
    background-color: #E6533C;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: none;
    position: absolute;
    right: 37.5%;
    bottom: 31%;
}

.fa-play{
    color: white;
    position: absolute;
    right: 38%;
    bottom: 45%;
}

@media screen and (max-width: 576px) {
    
}
/* 2nd part */

#background{
    background-color: #101010;
    
}

.container2{
    margin-top: 20px;
    margin-left: 20px;
    background-color: 1px solid red;
}
.habit-title{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

.habit-description{
    text-align: center;
    color: #505050;
    margin-top: 5px;
}
.habit-img1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15%;
}
.habit-img2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15%;
}
.habit-img3{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15%;
}
.habit-img4{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15%;
}

.shape1{
    margin: 0 auto;
}
.shape2{
    margin: 0 auto;
}
.shape3{
    margin: 0 auto;
}
.shape4{
    margin: 0 auto;
}
.title1{
    color: #FAFAFA;
    margin-left: 28%;
    font-size: 20px;
}
.title2{
    color: #FAFAFA;
    margin-left: 40%;
    font-size: 20px;
}
.title3{
    color: #FAFAFA;
    margin-left: 33%;
    font-size: 20px;
}
.title4{
    color: #FAFAFA;
    margin-left: 25%;
    font-size: 20px;
}


.description1{
    color: #505050;
    width: 200px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}
.description2{
    color: #505050;
    width: 200px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}
.description3{
    color: #505050;
    width: 200px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}
.description4{
    color: #505050;
    width: 200px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}
/* 3rd part */

.container3{
    height: 300px;
    width: 75%;
    margin-top: 40px;
    margin-left: 10%;
    padding: 50px;
    align-items: center;
    background-color: #222222;
    /* border: 1px solid rgb(88, 26, 26); */
}

.extra-mile{
    margin-bottom: 0px;
    /* border: 1px solid red; */
}

.title5{
    color: #FAFAFA;
    /* margin-bottom: 100px; */
    /* border: 1px solid red; */
    width: 190px;
    font-size: 2rem;

}

.description5{
    width: 23rem;
    color: #808080;
    margin-top: 10px;
    /* margin-bottom: -200px; */
}

.btn5{
    background-color: #E6533C;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}

.run-image{
    height: 350px;
    width: 350px;
    margin-top: 10px;
    margin-right: 2px;
    border-radius: 10px;
    object-fit: none;
    /* scale: .5; */
    object-position: 67% 34%;
}

/* 4th part */

.training-title{
    color: #FAFAF9;
    font-size: 30px;
    width: 300px;
}

.training-description{
    color: #7A7A7A;
    width: 580px;
}

.container4{
    margin-top: 35px;
    margin-left: 12%;
    margin-bottom: 30px;
}

.excercise-img{
    /* height: 200px;
    width: 250px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 1px;
    margin-left: 15%;
}

.ex-img1{
    height: 100px;
    width: 150px;
}

.ex-img2{
    height: 100px;
    width: 150px;
}

.ex-img3{
    height: 100px;
    width: 150px;
}
.ex-img4{
    height: 100px;
    width: 150px;
}
.ex-img5{
    height: 100px;
    width: 150px;
}
.ex-img6{
    height: 100px;
    width: 150px;
}

.container5{
    /* margin-left: %; */
    background-color: #4444;
    /* border: 1px solid red; */
    padding-left: 12%;
}
.calculator{
    margin-top: 50px;
    /* border: 1px solid red; */
}

.background-color{
    /* background-color: #4444; */
    background-color: #4F4F4F;
    /* border: 1px solid red; */
    padding: 5px;


}
.bmi-title{
    color: #FAFAF9;
    font-size: 2.3rem;
    margin-left: 35%;
    /* border: 1px solid red; */

}

.bmi-description{
    color: #7A7A7A;
    font-size: 15px;
    margin-left: 35%;
    margin-bottom: 35px;
    width: 35rem;
}

.cal-chart{
    color: #FAFAF9;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    text-align: left;
}

table{
    width: 25%;
    border-collapse: collapse;
    margin: 20px 0;

}

th, td{
    border: 1px solid grey;
    padding: 8px;
    text-align: left;
    color: #7A7A7A;
    background-color: #4F4F4F;
    /* border: 1px solid red; */
}

th{
    background-color: #4f4f4f;
    font-weight: bold;
    color: #FAFAF9;
}

.cal-bmi{
    /* position: absolute; */
    margin-left: 80%;
    width: 25rem;
    /* border: 1px solid red; */
    margin-top: 5%;
    margin-bottom: 10px;
    
}

.cal-title{
    color: #FAFAF9;
    padding: 5px;
    margin-left: 8px;
    font-size: 18px;
}

.cal-description{
    color: #7A7A7A;
    font-size: 13px;
    padding: 5px;
    margin-left: 8px;
}

.grid-container{
    padding: 10px;
}
.display-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    /* background-color: #7A7A7A; */
}

.group5{
    grid-column: span 2;
}

.group1 input{
    background-color: #383838;
    color: #FAFAF9;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}
.group2 input{
    background-color: #383838;
    color: #FAFAF9;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}
.group3 input{
    background-color: #383838;
    color: #FAFAF9;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.group4 select {
    background-color: #383838;
    color: #7A7A7A;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.group5 select{
    background-color: #383838;
    color: #7A7A7A;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.cal-btn{
    height: 35px;
    width: 160px;
    color: #FAFAF9;
    background-color: #E6533C;
    border: none;
    border-radius: 15px;
    align-items: center;
}

.container6{
    margin-top: 3%;
}
.team-title{
    color: #FAFAF9;
    border: 1px solid red;
    text-align: center;
    font-size: 25px;
    /* margin-top: 30px; */
    width: 500px;
    /* margin: 0 auto; */
    padding: 10px;
    margin-left: 32%;
}

.team-description{
    color: #7A7A7A;
    border: 1px solid red;
    width: 580px;
    margin: 0 auto;
    padding: 5px;
    margin-left: 29%;
    text-align: center;
}
